<div class="row"> <!--First ilustration -->
  <div class="card-deck">
    <div class="card shadow">
      <div class="card-header" style="background-color:white;">
        <h2 class="text-center">Trenings metode 1</h2>
      </div>
      <div class="card-body">
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="card" style="border: none;background-color:#f3f0f0;">
      <img src="{% static "img/gruppetime4.jpg" %}"
          style="width:450px;"
          class="mx-auto rounded">
    </div>
  </div>
</div>
<br><br>
<div class="row"> <!--Second ilustration -->
  <div class="card-deck">
    <div class="card" style="border: none;background-color:#f3f0f0;">
      <img src="{% static "img/gruppetime2.jpg" %}"
          style="width:450px;"
          class="mx-auto rounded">
    </div>

    <div class="card shadow">
      <div class="card-header" style="background-color:white;">
        <h2 class="text-center">Trenings metode 2</h2>
      </div>
      <div class="card-body">
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>
<br><br>
